<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="base::Mena">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav th:replace="base::navi"></nav>
<table >
    <tr>
       <td>
           <div class="jumbotron">
                   <h3>USERS</h3>
                   <p><h5>Another Big conflict
                   This is a template for a simple marketing or informational website.
                   It includes a large callout called a jumbotron and three supporting pieces of content.</h5></p>
           </div>
       </td>
       <td>
           <div class="jumbotron">
                   <h3>HOUSES</h3>
                   <p><h5>Another Big conflict
                   This is a template for a simple marketing or informational website.
                   It includes a large callout called a jumbotron and three supporting pieces of content.</h5></p>
           </div>
       </td>
       <td>
           <div class="jumbotron">
                   <h3>EMAILS</h3>
                   <p><h5>Another Big conflict
                   This is a template for a simple marketing or informational website.
                   It includes a large callout called a jumbotron and three supporting pieces of content.</h5></p>

           </div>
       </td>

    </tr>
</table>
</body>
</html>